$text: hsl(240, 1%, 59%);
$white: hsl(0, 0%, 100%);
$red: hsl(354, 63%, 57%);
$yellow: hsl(49, 85%, 70%);
$green: hsl(140, 63%, 57%);
$blue: hsl(210, 100%, 65%);
$light-blue: hsl(210, 62%, 54%);
$dark-blue: hsl(214, 100%, 55%);
$line: hsl(0, 0%, 15%);
$black: hsl(0, 0%, 7%);
$divider: hsl(0, 0%, 23%);
$breakpoint-sm: 320px;