@import "global.css";
@import "colors";

#main {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#baseline {
  &-heading {
    margin-top: 50px;
    margin-bottom: 0;
    color: $white;
  }

  &-text {
    margin-top: 8px;
    color: $text;
  }
}

#icon-completed {
  border: 10px solid hsla(120, 73%, 75%, 0.25);
  border-radius: 50px;
  outline: 10px solid hsla(120, 73%, 75%, 0.1);
}

#stats-list {
  padding: 0;
  color: $text;
  list-style-type: none;
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.stats-list {
  &__item {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 10px;
  }

  &__text {
    margin: 0;
    line-height: 2;
    font-size: 16px;
  }

  &__info {
    font-size: 20px;
  }
}

#wpm {
  color: $white;
}

#accuracy,
#incorrect {
  color: $red;
}

#correct {
  color: $green;
}

#restart-btn {
  display: flex;
  margin-top: 30px;
  padding: 15px 20px;
  gap: 10px;
  text-decoration: none;
  background-color: $white;
  color: $black;
  border-radius: 10px;

  img {
    filter: invert(1);
  }
}

#star {
  &-1,
  &-2 {
    position: absolute;
  }

  &-1 {
    right: 90px;
    bottom: 20px;
  }

  &-2 {
    top: 150px;
    left: 90px;
  }
}

#confetti {
  top: 500px;
}

@media screen and (min-width: $breakpoint-sm) {
  body {
    height: 100%;
  }

  #main {
    width: 100%;
  }

  #icon-completed {
    width: 40px;
  }

  #baseline-heading {
    font-size: 1.5rem;
  }

  #baseline-text {
    width: 90%;
    text-align: center;
    font-size: 14px;
  }

  #stats-list {
    width: 90%;
    flex-direction: column;
  }

  .stats-list__item {
    width: 100%;
    box-sizing: border-box;
  }

  #restart-btn {
    margin: 30px 0;
  }

  #star {
    &-1 {
      width: 30px;
      top: 770px;
      right: 30px;
      padding-bottom: 40px;
    }

    &-2 {
      width: 20px;
      left: 20px;
    }
  }

}
