@import "colors";

body {
  position: relative;
  margin: 0;
  background-color: $black;
  font-family: "Sora", serif;
  overflow: visible;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 30px 90px;
}

#record {
  display: flex;
  gap: 10px;
}

#record-text {
  color: $text;
  font-weight: 300;
  font-size: 16px;
}

#record-info {
  color: $white;
}

#prize-icon {
  width: 20px;
}

@media screen and (min-width: $breakpoint-sm) {
  #header {
    margin: 15px 20px;
  }
  
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #record-text .hide-on-mobile {
    display: none;
  }

  #record-text::before {
    content: "Best:";
  }
  
}
